.btn, .btn:active, .btn:focus {
	background-color: #2ebd59 !important; 
	border-color: #2ebd59 !important;
	color: #fff;
}

.btn:hover {
	background-color: #1ed760 !important;
	border-color: #1ed760 !important;
	color: #fff;
}

.navbar, .navbar-nav, .navbar-header, navbar-default, .navbar-static-top {
	background-color: #000 !important;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	border: None;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-brand {
	color: #fff !important;
}

.tab-content {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #828282 !important;
}

.navbar-nav>.active>a {
	background-color: #000 !important;
	color: #fff !important;
	border-bottom: thick solid #1ed760;
}

.navbar-nav>li>a:hover {
	background-color: #000 !important;
	color: #fff !important;
}

.navbar-nav>li>a {
	color: #828282 !important;
}

.navbar-text, .navbar-text>a {
	float: right;
	color: #fff !important;
}

.rect.highcharts-background {
	fill: #000;
}

.well {
	background-color: #ecebe8;
	border-color: #ecebe8;
	color: #000;
}

html {
	background-color: #828282;
}