.skin-blue .main-header .logo, .navbar {
    background-image: linear-gradient(#006699, #003366);
    font-family:'JoannaMT';
}

.sidebar-toggle:hover {
    background-color: #006699;
}

.skin-blue .main-sidebar {
    background-color: #666666;
    font-family:'JoannaMT';
}

#update_button, #reset_input{
  color: white;
  background-image: linear-gradient(#006699, #003366);
  background-color: #003366;
  text-shadow: none;
  border: none;
}

#update_button:hover, #reset_input:hover{
  background-color: #006699;
  background-image: linear-gradient(#006699, #003366);
}

.leaflet-container, .content-wrapper {
    background: white; 
}

.leaflet-popup-content {
    text-align: center;
}

/*
.leaflet-popup, .leaflet-popup-content-wrapper {
    width: 300px;
}
*/

.leaflet-popup-content p {
    margin: 10px;
    font-size: 18px;
}

.info.legend.leaflet-control i{
    clear: left;
}